**Transform the data** from json:

In [198]:
#Importorar Librerías
import pandas as pd
import json

In [199]:
total_data = pd.read_csv('/workspaces/K-NearestNeighbors/data/raw/5000-films.csv')

In [200]:
columnas_seleccionadas = ['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']
data = total_data[columnas_seleccionadas].copy()
data.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [201]:
data["genres"] = data["genres"].apply(lambda x: [item["name"] for item in json.loads(x)] if pd.notna(x) else None)

# .apply(lambda x: ...): Aplica una función a cada elemento de la columna "genres".
# json.loads(x): Convierte la cadena JSON en una lista de diccionarios en Python.
# [item["name"] for item in ...]: comprensión de lista para extraer el valor de la clave "name" de cada diccionario en la lista.
# if pd.notna(x) else None: maneja los valores nulos en la columna convirtiéndolos en None.

In [202]:
data["overview"] = data["overview"].apply(lambda x: [x])

In [203]:
data["keywords"] = data["keywords"].apply(lambda x: [item["name"] for item in json.loads(x)] if pd.notna(x) else None)
data["cast"] = data["cast"].apply(lambda x: [item["name"] for item in json.loads(x)][:3] if pd.notna(x) else None)

In [204]:
data["crew"] = data["crew"].apply(lambda x: " ".join([crew_member['name'] for crew_member in json.loads(x) if crew_member['job'] == 'Director']))

# json.loads(x): Carga los datos JSON de la cadena x en una lista de Python de diccionarios.
# for crew_member in json.loads(x): Recorre cada miembro del equipo en los datos JSON.
# if crew_member['job'] == 'Director': Filtra solo los miembros del equipo cuyo trabajo es "Director".
# crew_member['name']: Extrae el nombre de cada miembro del equipo.
# " ".join(...): Une los nombres de los directores en una cadena, separados por espacios.

2. Eliminar espacios

In [205]:
data['genres'] = data['genres'].apply(lambda x: [genre.replace(" ", "") for genre in x])
data['keywords'] = data['keywords'].apply(lambda x: [keyword.replace(" ", "") for keyword in x])
data['cast'] = data['cast'].apply(lambda x: [actor.replace(" ", "") for actor in x])
data['crew'] = data['crew'].apply(lambda x: [crew_member.replace(" ", "") for crew_member in x])

In [206]:
data.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[J, a, m, e, s, , C, a, m, e, r, o, n]"
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[G, o, r, e, , V, e, r, b, i, n, s, k, i]"

In [207]:
data['crew'] = data['crew'].apply(lambda x: ''.join(x))

In [208]:
data.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",JamesCameron
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",GoreVerbinski
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",SamMendes
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",ChristopherNolan
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",AndrewStanton

3. Convertir listas a cadenas

In [209]:
data['overview'] = data['overview'].apply(lambda x: ' '.join(map(str, x)))

# saltaba un error por el tipo de datos en la fila 0 de 'overview', por lo que primero nos aseguramos de transformar a string

In [210]:
data['genres'] = data['genres'].apply(lambda x: ' '.join(x))
data['keywords'] = data['keywords'].apply(lambda x: ' '.join(x))
data['cast'] = data['cast'].apply(lambda x: ' '.join(x))
data['crew'] = data['crew'].apply(lambda x: ''.join(x))

In [211]:
data.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy ScienceFiction,cultureclash future spacewar spacecolony socie...,SamWorthington ZoeSaldana SigourneyWeaver,JamesCameron
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action,ocean drugabuse exoticisland eastindiatradingc...,JohnnyDepp OrlandoBloom KeiraKnightley,GoreVerbinski
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,Action Adventure Crime,spy basedonnovel secretagent sequel mi6 britis...,DanielCraig ChristophWaltz LéaSeydoux,SamMendes

In [212]:
data['description'] = data['overview'] + ' ' + data['genres'] + ' ' + data['keywords'] + ' ' + data['cast'] + ' ' + data['crew']

data.drop(['overview', 'genres', 'keywords', 'cast', 'crew'], axis=1, inplace=True)

data.head(3)

,movie_id,title,description
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...

In [213]:
data["description"][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [214]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     4809 non-null   int64
 1   title        4809 non-null   object
 2   description  4809 non-null   object
dtypes: int64(1), object(2)
memory usage: 112.8+ KB

In [ ]:
data.to_csv('/workspaces/K-NearestNeighbors/data/processed/clean-films.csv', index=False)